<% provide(:title, 'Create Room') %>
<h1>Create Room</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@class_room) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit "Create room", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>