<h1>
    <%= @class_room.name%>
</h1>
<h2> class room instructor</h2>
<p> 
    <%=@class_room_instructor.email%>
</p>
<h2> class room students </h2>
<ul>
    <% @class_room_students.each do |student|%>
        <li>
            <%= student.email%>
             <input type="button" value="unassign" onclick="delete_student(<%=student.id%>,
              <%=@class_room.id%>)">

        </li>
    <% end %>
</ul>
<h2> unassigned students </h2>
<ul>
    <% @unassigned_students.each do |student|%>
        <li>
            <%= student.email%>
            <input type="button" value="assign" onclick="add_student(<%=student.id%>, <%=@class_room.id%>)">
        </li>
    <% end %>
</ul>


<h2>
    <%= link_to "Delete", class_room_path, method: :delete  %>
</h2>