<% if @user.type == "Student"%>
    <% if @user.class_rooms.empty?%>
        <h2> you're not enorlled in any class yet <h2>
    <% else %>
        <table>
            <thead>
                <tr >
                <th>Class Name </th>
                <th>Class Admin</th>
                <th colspan="10"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= @myClassRoom.first.name %></td>
                    <td><%= @classRoomInstructor.email %></td>
                </tr>
            </tbody>
    </table>
    <% end %>
<% end %>
<% if @user.type == 'Instructor'%>
    <h1> your class rooms  </h1>
    <ul>
        <% @myClassRoom.each do |classRoom| %>
            <li>
                <%= link_to classRoom.name, classRoom%>
            </li>
        <%end%>
    </ul>
    <h2> students </h2>
    <table>
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notAssignedStudent.each do |student| %>
      <tr>
        <td><%= student.email %></td>
        <td><%= link_to 'assign'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    
<%end%>
