<div class = "container">
    <div class = "d-flex justify-content-center">
        <h1 class="display-4">CLASS ROOM ADMIN PROTAL</h1>
    </div>
</div>


<div class="d-flex justify-content-center">
    <%= link_to 'sign in', login_path,  class: "btn btn-outline-primary" %>
    <%= link_to 'sign up', new_user_path,  class: "btn btn-outline-primary" %>
</div>
