<h1> Instructor </h1>
<ul>
    <% @class_rooms.each do |class_room| %>
        <li>
            <%= link_to class_room.name, class_room%>
        </li>
    <% end %>
</ul>
<h2>
    <%= link_to "Create class room", new_class_room_path %>
</h2>