// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    border-collapse: separate;
    border-spacing: 150px 0;
  }
  
  td {
    padding: 10px 0;
  }